/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

.paradiso-home{
	background-color: #0093d0;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}

.news-article{
	background-color: white;
}

.news-article p{
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.1em;
}

.news-article nav a{
	color:black;
}
.paradiso-titel{
	font-size:9em;
	font-family:Arial, Helvetica, sans-serif;
}

.news-titel{
	font-size:2.5em;
}

p{
	color:white;
}

article a{
	text-decoration:none;
	color:white;
}

nav ul{
	list-style:none;
}

nav a{
	text-decoration: none;
	color:white;
}
	 

a:visited{
	color:white;
}

time{
	font-size:1.7em;
	font-weight:bold;
}

section h2{
	font-size:1.2em;
	font-weight:bold;
}